body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-color: #333333;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 40px;
}

nav a {
  color: #fff;
  font-size: 14px;
  position: relative;
}

nav img {
  position: relative;
  top: 2px;
}

/* Main */

main {
  text-align: center;
  color: #494949;
  letter-spacing: -1px;
}

main h1 {
  font-size: 21px;
  font-weight: normal;
}

#apple-id {
  font-size: 17px;
  color: gray;
  background-color: #fff;
  display: block;
  padding-left: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0 auto 64px;
  width: 320px;
  height: 40px;
  position: relative;
}

#apple-id::after {
  content: "";
  position: relative;
  right: 0;
}

hr {
  width: 216px;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  margin: 16px auto;
}

aside {
  font-size: 14px;
}

.create-account {
  margin-top: 12px;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  color: #888;
  font-size: 11px;
  padding: 16px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #555;
}

.terms {
  margin-right: auto;
  list-style: none;
  display: flex;
}

.terms li:not(:first-child) {
  margin-left: 16px;
  position: relative;
}

.terms li:not(:first-child)::before {
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: -7px;
  border-left: 1px solid #d6d6d6;
}