body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #333333;
}

nav {
  width: 1024px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}

nav a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}

nav img {
  position: relative;
  top: 2px;
}